---
import "../styles/styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>
      I'm a Finnish software development student on exchange in Mataró,
      Barcelona. Here I write about my exchange journey and the experiments and
      experiences that shape my life as a developer.
    </p>
    <p>Otto Tirronen</p>
  </div>
</BaseLayout>
