---
import "../styles/styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>
      Writing about my exchange studies in Mataró, Barcelona and reflecting of
      my things and thoughts.
    </p>
    <p>Otto</p>
  </div>
</BaseLayout>
