---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("blog");

posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

// Take latest
const latest = posts[0];

// Render markdown content without layout
const { Content } = await render(latest);
---

<BaseLayout>
  <article class="prose">
    <h3>
      {latest.data.title}
    </h3>

    <Content />
    <>
      <br />Published {latest.data.pubDate.toLocaleDateString()} by {
        latest.data.author
      }
    </>
  </article>
  <div class="tags">
    {
      latest.data.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <a href="/blog" title="Back to all posts"><br />Go to all posts</a>
</BaseLayout>
