---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { site } from "../site.config";
import "../styles/styles.css";
---

<header>
  <nav>
    <div class="nav-bar">
      <a class="site-title" href="/">{site.title}</a>

      <div class="nav-actions">
        <Navigation class="nav-desktop" />
        <ThemeIcon />
        <Menu />
      </div>
    </div>

    <Navigation class="nav-mobile" />
  </nav>
</header>
