---
const { expanded = false } = Astro.props;
---

<button
  aria-expanded={expanded ? "true" : "false"}
  aria-controls="main-menu"
  class="menu"
>
  <svg
    class="menu-icon"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    aria-hidden="true"
  >
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
</button>
